SpliceComponent input-dim=13 left-context=4 right-context=4
FixedAffineComponent matrix=exp/DNN/lda.mat
AffineComponentPreconditioned input-dim=117 output-dim=512 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0.0441941738241592 bias-stddev=0.5
TanhComponent dim=512
AffineComponentPreconditioned input-dim=512 output-dim=1126 alpha=4.0 max-change=10.0 learning-rate=0.015 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=1126
